body {
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(54,25,80);
    background: linear-gradient(90deg, rgba(54,25,80,1) 0%, rgba(65,33,177,1) 46%, rgba(97,8,191,1) 83%);
    height: 100vh;
    user-select: none;
    overflow: hidden;
    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1.2px solid rgb(0, 0, 0);
    background-color: rgba(60, 7, 82, 0.925);
    color: #ffffff;
    padding: 3rem 4rem;
    border-radius: 1rem;
}

.content input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: .4rem;
    width: 50%;
    font-size: 1rem;
}

.content input::placeholder{
    color: #fff;
    text-align: center;
}

.content input:focus{
    border-bottom: 1px solid rgb(184, 0, 153);
}

.content button{
    padding: .6rem;
    width: 60%;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(79, 85, 167);
    border: none;
    border-radius: .6rem;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    transition: .3s;
}

.content button:hover{
    background-color: rgb(11, 26, 75)
}

footer{
    background: rgba(24, 36, 27, 0.644);
    width: 100%;
    color:  #ffffff;
   position: absolute;
   bottom: 0;
   padding: 2px 0;
}

footer > a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}